p{
    color:rgb(21, 0, 255);
    font-size: 15px;
}
button
{
    color:blueviolet;
}
#firstline
{
    color:green;
    text-align:center;
    font-weight:bold;
} 
body{
    /*background-color:rgb(0, 255, 238);*/
    color:chocolate;
}
h2{
    text-decoration:underline;
}
#primary
{
    color:hotpink;
    
}
#secondary
{
    color:hotpink;
    
}
.together
{
    color:hotpink;
    
}
#base
{
    height: 100px;
    width:  200px;
    background-color:chocolate;
    font-size: 25px; 
    text-transform: uppercase;
    color:aqua
}
#one
{
    font-size: initial;
}
#two
{
    font-size: initial;
}
#three
{
    font-size: initial;
    /*line-height: 55px;*/
}
div{
    width: 100px;
    height: 100px;
    background-color: indigo;
    border:2px solid brown;
    padding: 1px 25px 25px 50px;
    margin-top: 25px;

}


